body {
    margin: 0;
}

button {
    width: 120px;
    height: 32px;
    background: linear-gradient(to right, #333, rgb(116, 114, 114));
    cursor: pointer;
    border: none;
}

button a {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

button:hover {
    margin: 0 5px 5px 0;
    box-shadow: 2px 2px 2px #333;
}

form button {
    margin-top: 5px;
}

header {
    background: #333;
    height: 83px;
    display: flex;
    justify-content: right;
}

header a {
    width: 120px;
    height: 32px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
}

.header-links {
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 25px 20px 0 0;
}

.dropdownMenu {
    position: absolute;
    z-index: 1;
}

.dropdownMenu li {
    background-color: rgb(94, 93, 93);
}

.dropdownMenu li:hover {
    background-color: #FFF;
}

.dropdownMenu a {
    font-size: 18px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    display: block;
}

.dropdownMenu a:hover {
    color: black;
    border: none;
}

.dropdownLink {
    display: inline-block;
    position: relative;
    margin-left: 30px;
}

.dialog button {
    width: 120px;
    height: 32px;
    background: linear-gradient(to right, #333, rgb(116, 114, 114));
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border: none;
    text-align: center;
    float: right;
}

.dialog button:hover {
    margin: 0 5px 5px 0;
    box-shadow: 2px 2px 2px #333;
}

.dialog textarea {
    border: none;
    width: 100%;
    height: 200px;
    margin-top: 10px;
}

.dialog img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: right;
}

.ui-dialog-content {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 5px;
    margin-bottom: 35px;
}

.left {
    width: 50%;
    margin-left: 10px;
}

.big-image {
    position: absolute;
    margin-top: 30px;
    object-fit: cover;
}

.big-image img {
    max-width: 650px;
    height: 650px;
}

.left h3 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    z-index: 1;
}

.overlay {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 50%;
}

.description p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
}

.order {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}

.order button,
.items-order button {
    margin-left: 10px;
}

.order p {
    margin-top: 12px;
}

.right {
    width: 50%;
    overflow: scroll;
    height: 120vh;
}

.right h4 {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
}

.right p,
.right li {
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
}

.right img {
    max-width: 250px;
    height: auto;
    cursor: pointer;
    overflow: clip;
    object-fit: cover;
    transition: transform 0.5s;
}

.right img:hover {
    transform: scale(1.02);
}

.first-item,
.second-item {
    display: flex;
    flex-flow: row nowrap;
}

.items-order {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.items-order p {
    margin-top: 12px;
}

.items-description {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 400px;
}

footer {
    height: 83px;
    flex-shrink: 0;
    background: #333;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.left-text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    width: 180px;
    margin-left: 80px;
    padding-top: 22px;
}

.right-text {
    padding-top: 32px;
    display: flex;
    flex-flow: row nowrap;
}

#catalog-link {
    margin-right: 25px;
}

.right-text a {
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin-right: 18px;
}

.right-text a:hover {
    text-decoration: none;
}